## 📄 .gitignore
This project uses a `.gitignore` file to prevent unnecessary and sensitive files 
(such as build outputs, IDE configs, and system files) from being tracked in Git.


# Compiled class file
*.class
target/

# IDE files
.idea/
.vscode/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
